<template>
  <require from="../elements/address-map"></require>
  
  <section class="container au-animate">
    <div class="row">
      <div class="col-sm-2">
        <a route-href="route: contact-photo; params.bind: { id: contact.id }" t="[title]contacts.changePhoto">
          <img src.bind="contact.photoUrl" class="img-responsive" t="[alt]contacts.photo">
        </a>
      </div>
      <div class="col-sm-10">
        <template if.bind="contact.isPerson">
          <h1>${contact.fullName}</h1>
          <h2>${contact.company}</h2>
        </template>
        <template if.bind="!contact.isPerson">
          <h1>${contact.company}</h1>
        </template>
        <a class="btn btn-default" route-href="route: contact-edition; params.bind: { id: contact.id }">
          <i class="fa fa-pencil-square-o"></i> ${'contacts.modify' & t}
        </a>
        <button class="btn btn-danger" click.delegate="tryDelete()">
          <i class="fa fa-trash-o"></i> ${'contacts.delete' & t}
        </button>
      </div>
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" t="contacts.createdOn"></label>
        <div class="col-sm-10">
          <p class="form-control-static">${contact.createdAt | rt & signal:'rt-update':'aurelia-translation-signal'}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" t="contacts.modifiedOn"></label>
        <div class="col-sm-10">
          <p class="form-control-static">${contact.modifiedAt | rt & signal:'rt-update':'aurelia-translation-signal'}</p>
        </div>
      </div>

      <div class="form-group" if.bind="contact.birthday">
        <label class="col-sm-2 control-label" t="contacts.birthday"></label>
        <div class="col-sm-10">
          <p class="form-control-static">${contact.birthday & df}</p>
        </div>
      </div>

      <template if.bind="contact.phoneNumbers.length > 0">
        <hr>
        <div class="form-group">
          <h4 class="col-sm-2 control-label" t="contacts.phoneNumbers"></h4>
        </div>
        <div class="form-group" repeat.for="phoneNumber of contact.phoneNumbers">
          <label class="col-sm-2 control-label">${'contacts.types.' + phoneNumber.type & t}</label>
          <div class="col-sm-10">
            <p class="form-control-static"><a href="tel:${phoneNumber.number}">${phoneNumber.number}</a></p>
          </div>
        </div>
      </template>

      <template if.bind="contact.emailAddresses.length > 0">
        <hr>
        <div class="form-group">
          <h4 class="col-sm-2 control-label" t="contacts.emailAddresses"></h4>
        </div>
        <div class="form-group" repeat.for="emailAddress of contact.emailAddresses">
          <label class="col-sm-2 control-label">${'contacts.types.' + emailAddress.type & t}</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <a href="mailto:${emailAddress.address}" target="_blank">${emailAddress.address}</a>
            </p>
          </div>
        </div>
      </template>

      <template if.bind="contact.addresses.length > 0">
        <hr>
        <div class="form-group">
          <h4 class="col-sm-2 control-label" t="contacts.addresses"></h4>
        </div>
        <div class="form-group" repeat.for="address of contact.addresses">
          <label class="col-sm-2 control-label">${'contacts.types.' + address.type & t}</label>
          <div class="col-sm-10">
            <p class="form-control-static">${address.number} ${address.street}</p>
            <p class="form-control-static">${address.postalCode} ${address.city}</p>
            <p class="form-control-static">${address.state} ${address.country}</p>
            <address-map address.bind="address"></address-map>
          </div>
        </div>
      </template>

      <template if.bind="contact.socialProfiles.length > 0">
        <hr>
        <div class="form-group">
          <h4 class="col-sm-2 control-label" t="contacts.socialProfiles"></h4>
        </div>
        <div class="form-group" repeat.for="profile of contact.socialProfiles">
          <label class="col-sm-2 control-label">${'contacts.types.' + profile.type & t}</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <a if.bind="profile.type === 'GitHub'" href="https://github.com/${profile.username}" target="_blank">${profile.username}</a>
              <a if.bind="profile.type === 'Twitter'" href="https://twitter.com/${profile.username}" target="_blank">${profile.username}</a>
            </p>
          </div>
        </div>
      </template>

      <template if.bind="contact.note">
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label" t="contacts.note"></label>
          <div class="col-sm-10">
            <p class="form-control-static">${contact.note}</p>
          </div>
        </div>
      </template>
    </div>
  </section>
</template>
