list-editor .le-item {
  &.au-enter-active {
    -webkit-animation: blindDown 0.2s;
    animation: blindDown 0.2s;
    overflow: hidden;
  }

  &.au-leave-active {
    -webkit-animation: blindUp 0.2s;
    animation: blindUp 0.2s;
    overflow: hidden;
  }
}

@-webkit-keyframes blindDown {
  0% { max-height: 0px; }
  100% { max-height: 80px; }
}

@keyframes blindDown {
  0% { max-height: 0px; }
  100% { max-height: 80px; }
}

@-webkit-keyframes blindUp {
  0% { max-height: 80px; }
  100% { max-height: 0px; }
}

@keyframes blindUp {
  0% { max-height: 80px; }
  100% { max-height: 0px; }
}
